@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(9, 15, 121) 35%, rgb(0, 229, 255) 100%)
}


/* efeito */

.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2, 0, .6, 1) 0%, rgb(9, 15, 121) 35%, rgb(0, 229, 255) 100%);
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255, 255, 255, 0.326);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(3) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}


/* fim do efeito */


/* conteudo */

.content {
    display: flex;
    width: 100%;
    height: 100%;
}

.containerFoto {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.326);
    border-radius: 0 10% 10% 0;
    box-shadow: 0 0 10px rgba(49, 26, 164, 0.326);
    color: white;
}

.my-image {
    display: block;
    border-radius: 50%;
    height: 180px;
    width: 180px;
}

.nome {
    display: block;
    text-align: center;
}

.social-media {
    left: 40px;
    top: 90%;
    position: absolute;
    border-radius: 30px;
    background-color: rgba(150, 150, 150, 0.607);
    z-index: 1;
    width: 220px;
    height: 60px;
}

ul {
    padding: 8px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    padding: 11px;
    background-color: white;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: inline;
    margin: 0 8px 0px 8px;
    cursor: pointer;
    transition: 0.5s;
}

svg {
    color: rgba(49, 26, 164, 0.812);
}

.containerPortfolio {
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 5%;
    padding: 36px 50px;
    text-align: center;
    width: 580px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.326);
    color: white;
    box-shadow: 0 0 10px rgba(49, 26, 164, 0.326);
    border-radius: 28px 28px 0 0;
}

h3 {
    font-size: 1.4rem
}

.project-title {
    margin-top: 15px;
}

.project-text {
    margin-top: 10px;
    margin-bottom: 18px;
    font-size: 0.8rem;
}

.assetproject {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-logo {
    height: 130px;
    width: 130px;
    background-size: cover;
    border-radius: 50%;
}

.logo-calculator {
    height: 190px;
    width: 140px;
    margin-bottom: 40px;
    background-size: cover;
}

.project-button {
    position: relative;
    text-decoration: none;
    background: #C14777;
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    cursor: pointer;
    transition: 0.5s;
}

.greybutton {
    background-color: #808080;
    width: 125px;
}

.project-button:hover {
    text-shadow: 0 0 3px white;
}

.project-button::after {
    position: absolute;
    top: -3%;
    left: 8%;
    content: "";
    width: 20px;
    height: 5px;
    background-color: rgba(49, 26, 164, 0.326);
    transition: 0.5s;
}

.project-button:hover::after {
    left: 73%;
    background-color: rgb(49, 26, 164);
}

.project-button::before {
    position: absolute;
    top: 87%;
    left: 73%;
    content: "";
    width: 20px;
    height: 5px;
    background-color: rgba(49, 26, 164, 0.326);
    transition: 0.5s;
}

.project-button:hover::before {
    left: 8%;
    background-color: rgb(49, 26, 164);
}

.containerPortfolio::-webkit-scrollbar {
    display: none;
}

.ontainerPortfolio {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* fim do conteudo */


/* animação quadrados */

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}


/* fim animação */


/* ajustes de responsividade */

@media (max-width: 1100px) {
    .containerPortfolio {
        margin-left: 15%;
    }
}

@media (max-width: 900px) {
    .content {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .containerFoto {
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        border-radius: 0% 0% 10% 10%;
    }
    .containerPortfolio {
        margin-top: 10%;
        margin-left: 5%;
        height: 80%;
        width: 70%;
    }
}

@media (max-width: 468px) {
    .containerFoto {
        width: 70%
    }
    .containerPortfolio {
        width: 90%;
    }
}


/* fim dos ajustes */